{{ define "main" }}
	<!-- post list -->
	<div class="md:w-3/4 w-full">
	{{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
	<!-- {-  range where .Site.RegularPages "Section" "posts" -}} -->
	{{ range .Paginator.Pages }}
		<div class="max-w-screen-sm mb-6 flex m-1 h-32 md:h-40">
			<div class="w-1/3 flex">
				{{ if isset .Params "featureimage" -}}
			    <img src="{{.Params.featureimage | absURL }}" {{ if isset .Params "featureimagedescription" }}alt="{{.Params.featureimagedescription}}"{{end}}
			     	class="object-center object-cover rounded">
			  {{ end }}	
			</div>
			<div class="w-2/3 relative mx-2">
				<h2 class="font-bold text-gray-800 md:text-xl">{{ .Title }}</h2>
				<div><p class="text-gray-700 hidden md:inline-block my-2 text-sm">{{.Description}}</p></div>
				<div class="absolute right-0 w-full bottom-0 text-sm">
					{{ if (isset .Params "categories") }}
					{{ range first 1 (.GetTerms "categories") }}<a href="{{.Permalink}}" class="capitalize text-gray-800">{{.LinkTitle}}</a>{{end}}
					{{ end }}
					<a href="{{ .Permalink }}" class="font-bold text-gray-800 uppercase float-right mr-3">Read it <i aria-hidden="true">&#8594;</i></a>
				</div>
			</div>
		</div>
	{{ end }}
	{{ partial "pagination.html" .}}
	</div>
	<!-- sidebar -->
	{{ partial "sidebar.html" .}}
{{ end }}